<%= form_for(@comment, :remote => true ) do |f| %>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>

   <div id="true">
    <%= f.label "True" %>
    <%= f.radio_button :answer, "1" %>
  </div>

    <div id="false">
    <%= f.label "False" %>
    <%= f.radio_button :answer, "0" %>
    </div>

  <div class="actions">
    <%= f.submit :id => 'comment_submit'%>
  </div>
<% end %>
