
  <div class="main-page-wrapper">


    <h2 class="thanks">Back of the net! Thanks for your question.
    </br>
    Got another one?</h2>

      <div class="ask-question">
        <h2 class="tasty">Got a tasty sports-based question?</h2>
          <button id="ask-btn">Ask it!</button>

          
          <div class="question-form">

            <%= render 'form' %>

          </div>

        <h1 id="quiz-trigger">If not, click to get quizzing!</h1>

      </div>

    <div class="questions">

        <h2 class="question-h2"><span class="T">True</span> or <span class="F">False?</span></h2>


          <table class="question-table">

          <% @comments.each do |comment| %>
            <tr>
              <td><h3><%= comment.comment %></h3></td>
              <!-- <td><%= comment.answer %></td>
              <td><%= comment.rightanswers %></td>
              <td><%= comment.wronganswers %></td> -->
              <!-- td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %> -->
            </tr>
          <% end %>


          </table>


            <div class="true-false-buttons">
              <a class="icons" href="#">
                <i class="icon-ok-circle icon-4x T"></i>
              </a>
              <a class="icons" href="#">
                <i class="icon-remove-circle icon-4x F"></i>
              <a/>
            </div>

    </div>


</div>




