
  <div class="main-page-wrapper">
       
    <div class="ask-question">      
    <h2>Got a tasty sports-based question?</h2>
        <button class="ask-btn">Ask it!</button>
          <div class="question-form">
            <h1>Question</h1>
        </div>

        
        <h1 id="quiz-trigger">If not, click to get quizzing!</h1>

    </div>      

      <!-- <div class="question-wrapper"></div> -->
      <div id="questions">
            

            <table>
              <tr>
              <th>Comment</th>
              <th>Answer</th>
              <th>Rightanswers</th>
              <th>Wronganswers</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.comment %></td>
              <td><%= comment.answer %></td>
              <td><%= comment.rightanswers %></td>
              <td><%= comment.wronganswers %></td>
              <td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </table>

          <div class="logos span3">
              <a class="icons" href="#">
                <i class="icon-ok-circle icon-4x true"></i>
              </a>
              <a class="icons" href="#">
              <i class="icon-remove-circle icon-4x false"></i>
              <a/>
            </div>
          <br />

          <%= link_to 'New Comment', new_comment_path %>

           
          </div>
        <!-- </div> -->
           
</div>




