
  <div class="main-page-wrapper">
       
    <div class="ask-question">      
    <h2>Got a tasty sports-based question?</h2>
        <button class="ask-btn">Ask it!</button>
          <div class="question-form">
            <h1>Question</h1>
        </div>
    </div>
        
        <h1 id="quiz-trigger">If not, click to get quizzing!</h1>

            <div id="questions">
            

            <table>
              <tr>
              <th>Comment</th>
              <th>Answer</th>
              <th>Rightanswers</th>
              <th>Wronganswers</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.comment %></td>
              <td><%= comment.answer %></td>
              <td><%= comment.rightanswers %></td>
              <td><%= comment.wronganswers %></td>
              <td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </table>

          <br />

          <%= link_to 'New Comment', new_comment_path %>

          </div>

</div>




