<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Answer:</b>
  <%= @comment.answer %>
</p>

<p>
  <b>Rightanswers:</b>
  <%= @comment.rightanswers %>
</p>

<p>
  <b>Wronganswers:</b>
  <%= @comment.wronganswers %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
