<!DOCTYPE html>
<html>
<head>
  <title>Questionofsport</title>
  <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">

    <%= render 'layouts/header' %>

  <div id="ask_question">
    <%= render 'form' %>
  </div>

  <h1 id="quiz-trigger">Click here if you're ready to get Quizzing!</h1>

      <%= yield %>

  <%= render 'layouts/footer' %>
  </div>
</body>
</html>


